
$white: #ffffff;
$off-white: rgb(255, 225, 225);
$light-gray: #ffffff7e;
$gray: #636363;
$light-blue: #00aeef;
$blue: #003471;
$red: #f03d46;
$maroon: #9e0b0f;
$black: #131313;
$dark:#201f1f;
$secondary: #aaaaaa;
$bar-height: 100px;

$title-safe:50px;