* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  height: 1080px;
  width: 1920px;
  background-image: linear-gradient(85deg, black 0%, #0099ff 32%, #94d9d9 74%);
}

#content {
  width: 100%;
  height: 100%;
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#map-content {
  height: 860px;
  width: 1145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#map-content .active-state {
  opacity: 100;
  z-index: 1;
}

#map-content .inactive-state {
  opacity: 0;
  z-index: -3;
}

#map-content .map {
  height: 800px;
  width: 1145px;
  position: absolute;
}

#map-content .county {
  stroke: #201f1f;
  stroke-width: 3px;
  stroke-linejoin: round;
}

#map-content .selected-county {
  fill: #ffffff !important;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#map-content .not-selected-county {
  opacity: 60%;
}

#map-content svg {
  display: block;
  margin: auto;
}

.Bennet {
  fill: white;
  color: white;
}

.Biden {
  fill: #285e21;
  color: #285e21;
}

.Bloomberg {
  fill: #5f1e44;
  color: #5f1e44;
}

.Warren {
  fill: #0d5f54;
  color: #0d5f54;
}

.Sanders {
  fill: #533db5;
  color: #533db5;
}

.Gabbard {
  fill: #b47d2e;
  color: #b47d2e;
}

#sideBar {
  width: 600px;
  height: 140px;
  background: #131313;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 20px 0;
}

#sideBar #state-name-display {
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  padding: 5px;
  /* or 64px */
  color: #ffffff;
}

#sideBar #county-name-display {
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  padding: 5px;
  /* or 64px */
  color: #ffffff;
}

#sideBar #reporting {
  font-weight: 400;
  font-size: 25px;
  line-height: 100%;
  padding: 5px;
  /* or 64px */
  color: #ffffff;
}

#sideBar #reporting-display {
  font-weight: 400;
  font-size: 35px;
  line-height: 100%;
  /* or 64px */
  color: #ffffff;
}

.candidate {
  padding: 10px;
  margin: 20px 0;
  width: 600px;
  height: 130px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.candidate .portrait {
  width: 100px;
  height: 100px;
}

.candidate .fName {
  font-weight: 500;
  margin: 15px 0;
  font-size: 36px;
  line-height: 100%;
  color: #ffffff !important;
}

.candidate .lName {
  font-weight: 800;
  font-size: 36px;
  line-height: 100%;
  text-transform: uppercase;
  color: #ffffff;
}

.candidate .dCount {
  font-weight: normal;
  font-size: 24px;
  line-height: 100%;
  color: #ffffff;
}

.candidate .subSec-1 {
  height: 100%;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.candidate .subSec-2 {
  height: 100%;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: right;
      align-content: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.candidate .vote-percent {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 64px;
  line-height: 100%;
  text-align: right;
  color: #ffffff;
}

.candidate .total-votes {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  /* or 24px */
  text-align: right;
  color: #ffffff;
}

.candidate .perc-symbol {
  font-weight: bold;
  font-size: 36px;
  line-height: 100%;
  /* or 36px */
  text-align: right;
  color: #ffffff;
}
/*# sourceMappingURL=map.css.map */