@import "./variables";

* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

body {
	height: 1080px;
	width: 1920px;
	background-image:linear-gradient(85deg, rgba(0,0,0,1) 0%, rgba(0,153,255,1) 32%, rgba(148,217,217,1) 74%);

}

#content {

	width: 100%;
	height: 100%;
	margin: $title-safe;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;
}

#map-content {
	height: 860px;
	width: 1145px;
	display: flex;
	align-items: center;

	justify-content: space-around;

	.active-state {
		opacity: 100;
		z-index: 1;
	}

	.inactive-state {
		opacity: 0;
		z-index: -3;
	}
	.map {
		height: 800px;
		width: 1145px;
		position: absolute;
	}
	.county {
		stroke: $dark;
		stroke-width: 3px;
		stroke-linejoin: round;
	}
	.selected-county {
		fill: $white !important;
		transition-duration: 1s;
	}
	.not-selected-county {
		opacity: 60%;
	}
	svg {
		display: block;
		margin: auto;
		// position: fixed;
	}
}

.Bennet{
	fill: rgb(255, 255, 255);
	color: rgb(255, 255, 255);

}
.Biden{
	fill: rgb(40, 94, 33);
	color: rgb(40, 94, 33);

}
.Bloomberg{
	fill: rgb(95, 30, 68);
	color: rgb(95, 30, 68);

}
.Warren{
	fill: rgb(13, 95, 84);
	color: rgb(13, 95, 84);

}
.Sanders{
	fill: #533db5;
	color: #533db5;

}
.Gabbard{
	fill: #b47d2e;
	color:#b47d2e;

}



#sideBar {
	width: 600px;
	height: 140px;
	background: $black;
	
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 20px 0;

		#state-name-display {

		font-weight: 600;
		font-size: 50px;
		line-height: 100%;
		padding:5px;
		/* or 64px */

		color: $white;
	}

	
		#county-name-display {

		font-weight: 400;
		font-size: 30px;
		line-height: 100%;
		padding:5px;
		/* or 64px */

		color: $white;
	}

		#reporting{

		font-weight: 400;
		font-size: 25px;
		line-height: 100%;
		padding:5px;
		/* or 64px */

		color: $white;
	}

		#reporting-display{

		font-weight: 400;
		font-size: 35px;
		line-height: 100%;
		/* or 64px */

		color: $white;
	}

}

.candidate {
	padding: 10px;
	margin: 20px 0;
	width: 600px;
	height: 130px;
	background: rgb(0, 0, 0);
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.portrait {
		width: 100px;
		height: 100px;
	}

	.fName {
		font-weight: 500;
		margin: 15px 0;
		font-size: 36px;
		line-height: 100%;
		color: $white !important;
	}
	.lName {
		font-weight: 800;
		font-size: 36px;
		line-height: 100%;
		text-transform: uppercase;
		color: $white;
	}
	.dCount {
		font-weight: normal;
		font-size: 24px;
		line-height: 100%;
		color: $white;
	}
	.subSec-1 {
		height: 100%;
		width: 250px;
		display: flex;
		flex-direction: column;
		align-items: left;
		align-self: flex-start;
		justify-content: center;
	}

	.subSec-2{
		height: 100%;
		width: 200px;
		display: flex;
		flex-direction: column;
		align-content: right;
		justify-content: center;
	}

	.vote-percent {
		font-weight: bold;
		margin-bottom: 10px;
		font-size: 64px;
		line-height: 100%;
		text-align: right;
		color: $white;
	}
	.total-votes {
		font-style: normal;
		font-weight: 500;
		font-size: 24px;
		line-height: 100%;
		/* or 24px */
		text-align: right;

		color: $white;
	}

	.perc-symbol {
		font-weight: bold;
		font-size: 36px;
		line-height: 100%;
		/* or 36px */
		text-align: right;

		color: $white;
	}
}
